@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90000px;
}

html {
  font-family: "Inter", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(26, 26, 26, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  z-index: 1000;
}

.img-logo {
  height: 60px;
}

a {
  text-decoration: none;
  color: white;
}

.btn-promo {
  background-color: #ffc997;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-promo:hover {
  background-color: #ffc997;
}

.nav-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #ffc997;
}

/* --- Прихований чекбокс --- */
.menu-toggle {
  display: none;
}

/* --- Іконка бургера --- */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu-icon path {
  stroke: white;
}

@media (max-width: 1150px) {
  .burger-menu {
    display: block;
  }

  /* початково меню сховане */
  .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(26, 26, 26, 0.5);
    text-align: center;
    overflow: hidden;
    max-height: 0; /* сховане */
    transition: max-height 0.4s ease-out; /* плавне сповзання */
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    margin: 0;
  }

  /* при кліку меню розкривається */
  .menu-toggle:checked + .burger-menu + .nav-menu {
    max-height: 300px; /* висота меню підлаштована під вміст */
    transition: max-height 0.4s ease-in; /* плавне відкривання */
  }

  /* кнопка залишається на місці */
  .btn-promo {
    display: inline-block;
  }
}

.img-logo {
  height: 100px;
}

.btn-promo {
  text-align: center;
  padding: 16px 28px;
  height: 50px;
  min-width: 213px;
  background-color: #d18b49;
  color: white;
  border: none;
  border-radius: 20px;
}

.promo {
  height: 720px;
  padding-top: 100px;
  background: linear-gradient(to right, #40414a, #0b0b0d 60%);
}

.container {
  width: auto;
  margin: 0 80px;
}

.locations {
  width: fit-content;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  margin: 53px auto 0 auto;
}

.locations h2 {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 180px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  padding: 12px 20px;
  font-size: 14px;
  font-family: "Balsamiq Sans", sans-serif;
  text-transform: uppercase;
}

.locations .loc-olnine {
  background-color: whitesmoke;
  color: black;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 36px;
}

.promo-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.promo-text p {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  font-family: "Balsamiq Sans";
  margin-top: 20px;
}

.promo-text .promo-border {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 541px;
  padding: 7px 49px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 3px dashed #edae72;
  background: rgba(217, 217, 217, 0);
  margin-top: 50px;
}

.discount-form {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
}

.discount-form input {
  background: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  outline: none;
  width: 242px;
  height: 62px;
  text-align: center;
  transition: all 0.3s ease;
}

.discount-form input::placeholder {
  color: #000;
  opacity: 0.9;
}

.discount-form input:focus {
  box-shadow: 0 0 0 2px #edae72;
}

.discount-form button {
  width: 242px;
  height: 62px;
  background: #e3a368;
  border: none;
  border-radius: 20px;
  padding: 16px 36px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.discount-form button:hover {
  background: #f1b57d;
  transform: translateY(-2px);
}

.education {
  padding-top: 120px;
  height: 1000px;
}

.education h3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.e-subtext {
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.e-subtext::after {
  content: "";
  display: block;
  width: 885px;
  height: 18px;
  border-radius: 20px;
  background: rgba(255, 201, 151, 0.71);
  margin: -17px auto 0 auto;
}

.e-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 34px;
  row-gap: 50px;
}

.e-card {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.e-card p {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.e-image {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #ffd9b5;
}

.e-image img {
  width: 81px;
  height: 81px;
}

.e-video {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.callback {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 310px;
  gap: 10px;
  margin-top: 20px;
}

.direction {
  padding-top: 120px;
  height: 925px;
  background: #e4e5e9;
}

.direction h3 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

.selections {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  gap: 10px;
}

.selections p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 80px;
  border-radius: 20px;
  background: linear-gradient(90deg, #a8abb8 0%, #4b4c52 100%);
  color: #fff;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 20px;
}

.selections .s-guitar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 80px;
  color: #000;
  border-radius: 20px;
  background: linear-gradient(90deg, #f5ceab 0%, #edae72 100%);
  text-align: center;
  font-family: "Balsamiq Sans", sans-serif;
  font-size: 20px;
}

.selections p:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #f5ceab 0%, #edae72 100%);
  color: #000;
  transition: all 0.3s ease;
}

.selections .s-guitar:hover {
  background: linear-gradient(90deg, #f5ceab 0%, #edae72 100%);
  color: #000;
  cursor: default;
}

.a_d_text {
  color: #000;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.a_d_text h4 {
  margin-top: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  color: #000;
  font-size: 40px;
  font-weight: 500;
  z-index: 1;
}

.a_d_text h4::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 190px;
  height: 18px;
  border-radius: 20px;
  background: rgba(255, 201, 151, 0.71);
  z-index: -1;
}

.a_d_text p {
  margin-top: 40px;
  display: flex;
  width: 450px;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.a_d_qiuestion p {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

.about_direction img {
  margin-top: 40px;
}

.d_video {
  margin-top: 100px;
}

.about_direction {
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.team {
  padding-top: 120px;
  height: 1000px;
  background: #e4e5e9;
}

.t-content {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.team-text h3 {
  margin-top: 100px;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.description {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 100px;
}

.d-text {
  width: 250px;
}

.d-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.d-text img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.team-image {
  width: 194px;
  height: 237px;
  border-radius: 32px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: 0.3s;
  position: absolute;
}

.team-image img {
  width: 93.498px;
  height: 104.94px;
  border-radius: 32px;
  box-shadow: 0 4.247px 4.247px 0 rgba(23, 23, 235, 0.6);
}

.team-image p {
  font-size: 14px;
  color: #000;
  text-align: center;
  margin: 0;
}

.team-images {
  position: relative;
  width: fit-content;
}

.team-images-wrapper {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 590px;
}

.team-bg {
  position: absolute;
  width: 560px;
  height: 590px;
  border-radius: 23.008px;
  background: linear-gradient(90deg, #ffd9b5 0%, #a8abb8 100%);
}

.teacher-1 {
  top: 47px;
  left: -100px;
}

.teacher-4 {
  top: 310px;
  left: -100px;
}

.teacher-2 {
  top: 130px;
  left: 121px;
}

.teacher-5 {
  top: 393px;
  left: 121px;
}

.teacher-3 {
  top: -35px;
  left: 340px;
}

.teacher-6 {
  top: 230px;
  left: 340px;
}

.team-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.all-teachers {
  display: flex;
  justify-content: center;
  width: 100%;
}

.all-teachers a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 404px;
  height: 81.131px;
  border-radius: 20px;
  background: rgba(255, 201, 151, 0.71);
  margin-top: 70px;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}

.discount {
  padding-top: 120px;
  height: 440px;
  background: linear-gradient(90deg, #40414a 0%, #0b0b0d 100%);
}

.discount h3 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.discount-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}

.discount-text p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.go {
  display: flex;
  justify-content: center;
}

.go a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 58px;
  border-radius: 40px;
  background: #edae72;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.abonement {
  padding-top: 120px;
  height: 1000px;
  background: #e4e5e9;
}

.abonments-title {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.l-duration {
  display: flex;
  justify-content: center;
}

.duration {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.duration-border {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  border-radius: 40px;
  border: 3px solid #f0c198;
  background: rgba(217, 217, 217, 0);
}

.duration-switch {
  padding: 10px 28px;
  border-radius: 40px;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.duration-switch p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.duration-switch:hover {
  background: #ffc997;
  border: 2px solid #ffc997;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.card {
  width: 360px;
  height: 430px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #ebf2ff;
  cursor: pointer;
}

.card-pop {
  width: 360px;
  height: 430px;
  border-radius: 20px;
  border: 4px solid #d18b49;
  background: #fff;
  box-shadow: 0 4px 4px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card-pop:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #ebf2ff;
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  height: 109px;
  background: #9195a4;
}

.card-title-pop {
  display: flex;
  justify-content: center;
  border-radius: 16px 16px 0 0;
  height: 109px;
  background: #9195a4;
}

.card-title p {
  margin-top: 25px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-title-pop p {
  margin-top: 25px;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-header-l {
  display: flex;
  justify-content: center;
  margin-top: -35px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 290.192px;
  height: 70px;
  background: #f7d1af;
}

.card-header-pop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 290.192px;
  height: 70px;
  background: #d18b49;
}

.card-header p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-header-pop p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.c-string-l {
  display: flex;
  justify-content: center;
}

.c-string {
  margin-top: 20px;
  width: 290px;
  height: 2px;
  background: #000;
  margin-bottom: 20px;
}

.conditions {
  display: flex;
  justify-content: center;
}

.card-list li {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px;
  width: 243px;
}

.costs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.price {
  font-size: 23px;
  font-weight: 600;
}

.lesson-price {
  font-size: 18px;
  font-weight: 400;
}

.save {
  font-size: 25px;
  font-weight: 600;
}

.trial-btn {
  display: flex;
  justify-content: center;
  margin-top: 53px;
}

.trial-btn p {
  padding: 6px;
  width: 1186px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 3px solid #4b4c52;
  background: #b6b5b4;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37.163px;
  transition: 0.3s;
}

.trial-btn p:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #edae72;
  cursor: pointer;
}

.single-lessons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 96px;
}

.single-lessons p {
  width: 508.583px;
  height: 57px;
  border: 1px solid #4b4c52;
  border-radius: 40px;
  background: #9195a4;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding: 12px;
  transition: 0.3s;
}

.single-lessons p:hover {
  background: linear-gradient(90deg, #4b4c52 0%, #edae72 100%);
  cursor: pointer;
}

@media (max-width: 1400px) {
  .education {
    padding-top: 100px;
    height: auto;
  }

  .education h3 {
    font-size: 40px;
  }

  .e-subtext {
    font-size: 22px;
  }

  .e-subtext::after {
    width: 600px;
    height: 14px;
    margin-top: -10px;
  }

  .e-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
    justify-items: center;
  }

  .e-card {
    width: 350px;
    gap: 15px;
  }

  .e-card p {
    font-size: 20px;
  }

  .e-image {
    width: 70px;
    height: 70px;
  }

  .e-image img {
    width: 67px;
    height: 67px;
  }

  .e-video {
    margin-top: 45px;
  }

  .callback {
    width: 270px;
  }
}

@media (max-width: 900px) {
  .education h3 {
    font-size: 32px;
  }

  .e-subtext {
    font-size: 18px;
  }

  .e-subtext::after {
    width: 80%;
    height: 10px;
  }

  .e-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
  }

  .e-card {
    width: 90%;
    gap: 10px;
  }

  .e-card p {
    font-size: 16px;
  }

  .e-image {
    width: 60px;
    height: 60px;
  }

  .e-image img {
    width: 57px;
    height: 57px;
  }

  .e-video video {
    width: 100%;
    height: auto;
  }

  .callback {
    width: 230px;
    gap: 8px;
  }

  .promo {
    height: fit-content;
    padding-bottom: 40px;
  }

  .locations {
    flex-direction: column;
  }

  .discount-form {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  .promo-text p {
    font-size: 24px;
  }

  .promo-text .promo-border {
    width: 400px;
    font-size: 16px;
  }
}
